<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='lista.css') }}">
    <title>Lista</title>
</head>
<body>
    <h1>Lista registros</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody id="registro-list">
            {% for registro in registros %}
            <tr>
                <td>{{ registro.nombre }}</td>
                <td>{{ registro.apellido }}</td>
                <td>{{ registro.edad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>